!!! 5
%html
  %head
    %title
      An evening with CoffeeScript
    %meta(http-equiv="content-type" content="text/html; charset=utf-8")
    %meta(content="CoffeeScript course in Helsinki" name="description")
    %meta(content="Polarblau" name="author")
    %meta(content="3 days" name="revisit-after")
    %meta(content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport")
    %link(href="http//creativecommons.org/licenses/by/3.0/" rel="license" title="Creative Commons Attribution 3.0 Unported License")
    %link(href="stylesheets/screen.css" media="screen" rel="stylesheet")
    %script(type="text/javascript" src="//use.typekit.net/wyx4dkv.js")
    %script(type="text/javascript")
      try{Typekit.load();}catch(e){}

    -# !GRID
      :sass
        html
          position: relative

        #grid
          display: none
          position: absolute
          top: 0
          left: 0
          right: 0
          bottom: 0
          background-image: url(/images/grid.png)
  %body
    -# !GRID
      #grid
    #container
      %header#header
        .wrapper
          %h1
            An evening with
            %strong
              CoffeeScript
              %img(src="images/logo.png" alt="" width="80")
          %p.meta
            June 12th, 17:30 &mdash; Bläk, Simonkatu 8, Helsinki

      %section.intro
        .wrapper
          .full
            %p
              Sorry, all places are gone!
          %a.button(href="mailto:ilmoittautumiset@siili.fi?subject=An evening with CoffeeScript / Sign-up&body=Count me in! [YOUR CONTACT INFORMATION]")
            Join us
          %p.byline
            Learn everything you wanted to know about CoffeeScript and why you should really use it &mdash; all in a friendly setting.

      %section.text
        .wrapper
          %h2
            The course
          %p
            Javascript has become one of the most popular languages on the web but it still suffers to date from poor and hasty design decisions made during it’s infancy.
          %p
            CoffeeScript — a fairly new language inspired by Ruby, Python and Haskell — compiles into Javascript, aims to highlight Javascript’s good parts while hiding its “dark sides” and to make the whole Javascript experience just that much more enjoyable.
          %p
            This (free) course will teach a basic understanding of the language as well as attempt to clear out some of the misunderstandings that seem to keep people from integrating CoffeeScript into their workflow.
          %p
            In the first part, the attendees will learn the fundamental concepts behind CoffeeScript as well as discover some of the existing tools.
          %p
            The second part — an interactive workshop — will show CoffeeScript in action. Attendees are invited to try their newly earned skills on a small application and to hopefully discover the ‘power of CoffeeScript’.

      %section
        %dl.wrapper
          %dt
            Time and Date
          %dd
            12th June 2013, 17:30
          %dt
            Location
          %dd
            %a(href="http://www.blak.fi/" title="Visit blak.fi") Bläk
            (Members Club) Simonkatu 8, Helsinki
          %dt
            Who is it for?
          %dd
            CoffeeScript beginners with working Javascript knowledge
          %dt
            Prerequisites
          %dd
            For those who want to participate in the practical part of the course, a laptop with a working CoffeeScript installation is required. This is most easily accomplished via
            %a(href="https://npmjs.org/" title="Visit npmjs.org")
              npm
            by running
            %code
              npm install -g coffee-script
            %br
            For other cases consult the documentation at
            %a(href="http://coffeescript.org/#installation" title="Read the docs at coffeescript.org")
              coffeescript.org
            or
            %a(href="mailto:florian@polarblau.com" title="Send Florian an email")
              get in touch with Florian (coach).

      %section.text
        .wrapper
          %h2
            The Coach
          -#%img(src="/images/florian.png" alt="Florian Plank")
          %p
            Florian Plank has been working on the web for nearly a decade. With a strong background in visual design, most of his work happens on the client side and so Javascript has been his trusty tool along the way.
          %p
            Having discovered Ruby as his go–to language a few years back, Florian has ever since been even more dissatisfied by the shortcomings of Javascript and didn’t think long when CoffeeScript appeared. He never looked back.
          %p
            Florian runs a small software shop called
            %a(href="http://polarblau.com" title="Visit polarblau.com")
              Polarblau
            in Finland and helps companies big and small alike to design and build better software for an open web.
          %p
            You can find Florian online under @polarblau where it counts.

      -#
        %section
          .wrapper
            MATERIALS (FOR NOW ONLY INFO ABOUT COMING MATERIALS ...)

      %footer#footer
        .wrapper
          %hr
          %p
            Follow us on Twitter for updates:
            %a(href="http://twitter.com/SiiliSolutions") @siili
            &amp;
            %a(href="http://twitter.com/polarblau") @polarblau

          %p
            %a(href="http://siili.fi") Siili
            \/
            %a(href="http://polarblau.com") Polarblau

      %script(src="/javascripts/vendor/jquery.js")
      %script(src="/javascripts/vendor/jquery.fittext.js")
      %script(src="/javascripts/vendor/jquery.lettering.js")
      %script(src="/javascripts/application.js")
