@import "vendor/normalize"
@import "vendor/bourbon/bourbon"

// colors
$black: #2a2c31
$dark-gray: #5a5c57
$white: #eee8da
$rust: #5a2e2e

// fonts
=custom-serif($weight: regular, $style: normal)
  font-family: "ff-meta-serif-web-pro", Georgia, serif
  @if $weight == bold
    font-weight: 700
  @else
    font-weight: 500
  font-style: $style

=custom-sans($weight: regular, $style: normal)
  font-family: "ff-meta-web-pro", Helvetica, sans-serif
  @if $weight == bold
    font-weight: 700
  @else
    font-weight: 500
  font-style: $style


=custom-fat
  font-family: "abril-fatface", Helvetica, sans-serif
  font-weight: 400

body
  +custom-serif

#container
  margin: 0 auto

@media screen and (min-width: 600px)
  #header .wrapper,
  section .wrapper,
  footer .wrapper
    width: 680px
    margin: 0 auto
    padding: 4em 0 0

#header
  text-align: left
  background: $black
  color: $white

  .wrapper
    padding: 4em 0 3em

  h1
    +custom-fat
    font-size: 6em // 96px
    line-height: 0.8334em // 80px
    margin: 0
    vertical-align:baseline

  .meta
    font-size: 1.25em // 20px
    line-height: 1.6em // 32px
    font-style: italic
    margin: 0
    margin-left: -1em
    margin-top: 0.8em // 16px

section
  &.intro
    background: $white
    text-align: left
    font-size: 1.25em // 20px
    font-style: italic
    color: $dark-gray
    +clearfix
    +custom-sans

    .wrapper
      padding: 2.4em 0 1.2em

    p
      margin: 1em 10%
      text-align: center
      line-height: 1.6em

  &.text .wrapper
    +column-count(2)
    +column-gap(2.5em)
    +clearfix

    h2
      +column-span(all)

    p
      line-height: 1.5em
      margin: 0 0 1.5em

      &:last-child
        margin: 0
a
  text-decoration: none

.button
  background: $black
  text-align: center
  +custom-sans(bold)
  color: $white
  width: 200px
  padding: 0.75em 0
  font-size: 0.8em // 16px
  display: block
  margin: 0 auto
  border: none
  text-transform: uppercase
  +transition(all, 0.3s)

  &:hover
    background: $rust

a, a:visited
  color: $rust
  text-decoration: none
  border-bottom: 1px dotted $rust

a:hover, a:active
  border: none

article
  hyphens: auto
  text-align: justify
  -webkit-hyphens: auto
  -moz-hyphens: auto

hr
  background: $dark-gray
  border-width: 0
  height: 3px
  line-height: 0
  margin: 2em auto
  text-align: center
  width: 100px

h2
  +custom-fat
  text-align: center
  text-align: center
  font-size: 2em
  margin: 0 0 1em 0
  line-height: 1em
  font-style: italic

dl
  +clearfix

  dt, dd
    margin: 0
    padding: 1em 0
    line-height: 1.5em
    border-top: 1px solid $white
    padding: 0.9375em 0 1em 0
    +custom-sans

  dt
    clear: both
    float: left
    width: percentage(1/4)
    font-weight: bold

  dd
    float: right
    width: percentage(3/4)
    text-align: left
    color: $dark-gray

  code
    display: block
    line-height: 2em

#footer
  text-align: center
  margin: 4em 0 0

  .wrapper
    padding: 2em 0 3em
    background: transparent url(/images/twitter.png) no-repeat center top

html
  position: relative

#grid
  //display: none
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-image: url(/images/grid.png)
